.recenterbtn{
    position: absolute;
    font-size: 1.5rem;
    background-color: white;
    padding: 5px 10px;
    border-radius: 12px;
    box-shadow: 3px 5px 30px gray;
    bottom: 65px;
    right: 20px;
    z-index: 999;
}