#form{
    position: absolute;
    font-size: 1rem;
    z-index: 999;
    top: 3%;
    height: 44px;
    width: 330px;
    left: 50%;
    border: 1px white solid;
    background-color: white;
    transform: translate(-50%);
    box-shadow: 3px 5px 30px gray;
    padding-left:2%;
    padding-right: 1%;
    border-radius: 12px;
}

#form #query{
    width: 90%;
    height: 100%;
}


#form input, button{
    all: unset;
}

button{
    cursor: pointer;
    font-size: large;
}

button :hover{
    color: #2600ff;
}

#form #submit{
    text-align: center;
    height: 100%;
    width: 10%;
}

#message{
    position: relative;
    z-index: 998;
    color: gray;
    box-shadow: 3px 5px 30px gray;
    background-color: whitesmoke;
    padding-left:2%;
    padding-right: 1%;
    text-align: center;
    border-radius: 15px;
    transition: all 500ms;
}

.hide{
    opacity: 0;
    top: -50%;
}

.show{
    top: -10px;
    opacity: 1;
}